@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.menu {
    width: 255px;
    min-height: 100vh;
    background-color: #363740;
    font-family: 'Mulish';
}

.menu-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    line-height: 3em;
}

.menu-link {
    text-align: center;
}

.nav_link {
    color: #A4A6B3;
    padding: 10px 90px;
    text-decoration: none;
}


/* .nav_link:hover, */

.menu-link:hover {
    background: rgb(128, 128, 128, 0.08);
    color: #DDE2FF;
}

.menu-link:hover .nav_link,
.menu-link {
    color: #DDE2FF;
}